/*

    # STYLES
    docs: secuoyas.io/trunk/docs/styles

    Imports de todos los archivos css necesarios.

*/

/* BASE -------------------------------------------------------------------- */
@import "00-config/reset.css";
@import "00-config/globals.css";
@import "00-config/palette.css";
@import "00-config/spacing.css";
@import "00-config/type-scale.css";
@import "00-config/typography.css";
@import "00-config/responsive.css";
@import "00-config/utility.css";
@import "00-config/u-spacing.css";
@import "00-config/u-positions.css";

/* ALL --------------------------------------------------------------------- */
@import "00-grid-layouts/**/*.css";
@import "01-atoms/**/*.css";
@import "02-molecules/**/*.css";
@import "03-organisms/**/*.css";
@import "04-templates/**/*.css";
@import "05-pages/**/*.css";
