/* @l-fullheight */
.l-fullheight {
  @media (--medium-viewport) {
    min-height: calc(100vh + 64px);
  }

  @media (min-width: 720px) and (min-height: 850px) {
    min-height: calc(100vh + 76px);
  }
}
