/* @header */
.header {
  @extend %resetBox;

  padding-bottom: $spc-xl;

  .logo {
    width: 280px;
      margin-top: -30px;
  }

  @media (--medium-viewport) {
    .logo {
      width: 480px;
      margin-top: -50px;
    }
  }

  @media (min-width: 720px) and (min-height: 850px) {
    margin: 0;

    .logo {
      width: 600px;
      margin-top: -$spc-xl;
    }
  }
}

/*
 *.header .logo {
 *  width: 400px;
 *
 *  @media (min-height: 700px) {
 *    width: 20%;
 *    border: 4px solid purple;
 *  }
 *}
 */
