/* @bio */
.paragraph {
  color: $black;
  font-weight: 100;
  letter-spacing: -0.5px;
  line-height: 1.4;
  font-size: 18px;
}

.paragraph--featured {
  font-weight: 900;
  font-size: 28px;

  @media (--medium-viewport) {
    font-size: 40px;
  }
}

.paragraph--hl {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  background-color: $black;
  color: $white;
  display: inline-block;
  padding: 10px;

  @media (--medium-viewport) {
    font-size: 24px;
  }
}
