/*

    # GLOBAL CONFIG
    docs: secuoyas.io/trunk/docs/global-config

    Configuración global.

*/

/* TIPOGRAFÍA BASE ----------------------------------------------------------------------------- */
body {
  font-family: map(fonts, tokens, family-sans);
}

/* BOX-SIZING ---------------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* LINKS --------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

/* FONT FACE ----------------------------------------------------------------------------------- */

@font-face {
  font-family: "circular";
  src: url("../fonts/CircularStd-Book.otf")  format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "circular";
  src: url("../fonts/CircularStd-Medium.otf")  format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "circular";
  src: url("../fonts/CircularStd-Bold.otf")  format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "circular";
  src: url("../fonts/CircularStd-Black.otf")  format("truetype");
  font-weight: 900;
}

