/*

    # PALETTE
    docs: secuoyas.io/trunk/docs/palette

    Paleta de colores Secuoyas.

*/

/* BASE ---------------------------------------------------------------------------------------- */
$white:     map(colors, tokens, base, white);
$black:     map(colors, tokens, base, black);
$pyrite:    map(colors, tokens, base, pyrite);
$cream:     map(colors, tokens, base, cream);
$coal:      map(colors, tokens, base, coal);
$silver:    map(colors, tokens, base, silver);
$azurite:   map(colors, tokens, base, azurite);
$indigo:    map(colors, tokens, base, indigo);
$aqua:      map(colors, tokens, base, aqua);
$moss:      map(colors, tokens, base, moss);
$copper:    map(colors, tokens, base, copper);
$sunflower: map(colors, tokens, base, sunflower);
$violet:    map(colors, tokens, base, violet);

/* VARIATIONS ---------------------------------------------------------------------------------- */
$pyriteDark: map(colors, tokens, variations, pyriteDark);
$red: map(colors, tokens, variations, red);
$darkred: map(colors, tokens, variations, darkred);

/* LINKS --------------------------------------------------------------------------------------- */
$mainLinkColor: map(colors, tokens, links, mainLinkColor);
