/*

    # RESPONSIVE
    docs: secuoyas.io/trunk/docs/responsive

    Configuración de grid, contenedores y mediaqueries.

*/

/* LOST GRID ----------------------------------------------------------------------------------- */
@lost gutter 0;

/* CONTAINERS ---------------------------------------------------------------------------------- */
$cnt-xxxl: map(containers, tokens, xxxlarge);
$cnt-xxl:  map(containers, tokens, xxlarge);
$cnt-xl:   map(containers, tokens, xlarge);
$cnt-l:    map(containers, tokens, large);
$cnt-m:    map(containers, tokens, medium);
$cnt-s:    map(containers, tokens, small);

/* CUSTOM MEDIA -------------------------------------------------------------------------------- */
@custom-media --xxxlarge-viewport (min-width: map(media, tokens, xxxlarge));
@custom-media --xxlarge-viewport  (min-width: map(media, tokens, xxlarge));
@custom-media --xlarge-viewport   (min-width: map(media, tokens, xlarge));
@custom-media --large-viewport    (min-width: map(media, tokens, large));
@custom-media --medium-viewport   (min-width: map(media, tokens, medium));
@custom-media --small-viewport    (min-width: map(media, tokens, small));
