/*

    # TYPE-SCALE
    docs: secuoyas.io/trunk/docs/type-scale

    Tamaños de tipografía utilizando una escala junto a `mixins` para definir
    grupos de propiedades para los textos: tamaño, interlineado, peso,
    espaciado entre caracteres y el comportamiento "responsive".

*/

/* VARIABLES ----------------------------------------------------------------------------------- */

/* Titles */
$t1: map(fonts, tokens, sizes, xxxxl);
$t2: map(fonts, tokens, sizes, xxxl);
$t3: map(fonts, tokens, sizes, xxl);

/* Headings */
$f1: map(fonts, tokens, sizes, xl);
$f2: map(fonts, tokens, sizes, l);
$f3: map(fonts, tokens, sizes, m);
$f4: map(fonts, tokens, sizes, s); /* 14px */
$f5: map(fonts, tokens, sizes, xs); /* 13px */
$f6: map(fonts, tokens, sizes, xxs); /* 11px */

/* MIXINS -------------------------------------------------------------------------------------- */

/* TITLES */

/* Title 1 */
@define-mixin t1 {
  font-size: $t1;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.5;
}

/* Title 2 */
@define-mixin t2 {
  font-size: $t2;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.5;
}

/* Title 3 */
@define-mixin t3 {
  font-size: $t3;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.5;
}

/* HEADINGS */

/* XXL */
@define-mixin f1 {
  font-size: $f1;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.75px;
}

/* XL */
@define-mixin f2 {
  font-size: $f2;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* L */
@define-mixin f3 {
  font-size: $f3;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.75px;
}

/* M */
@define-mixin f4 {
  font-size: $f4;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* S */
@define-mixin f5 {
  font-size: $f5;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.025rem;
}

/* XS */
@define-mixin f6 {
  font-size: $f6;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.025rem;
}
