/*

# UTILITY CLASSES
docs: secuoyas.io/trunk/docs/utility-classes

Clases de tipo placeholders.

 */

/* RESETS -------------------------------------------------------------------------------------- */
%resetBox {
  margin: 0;
  padding: 0;
}

%expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* PADDINGS ------------------------------------------------------------------------------------ */

/* Side padding */
.u-side-padding--0 { padding: * 0; }
.u-side-padding--xs { padding: * $spc-xs; }
.u-side-padding--s { padding: * $spc-s; }
.u-side-padding--m { padding: * $spc-m; }
.u-side-padding--l { padding: * $spc-l; }
.u-side-padding--xl { padding: * $spc-xl; }
.u-side-padding--xxl { padding: * $spc-xxl; }

.u-mb0 { margin-bottom: 0 !important; }
.u-pb0 { padding-bottom: 0 !important; }

.u-pb--xs { padding-bottom: $spc-xs !important; }
.u-pb--s { padding-bottom: $spc-s !important; }
.u-pb--m { padding-bottom: $spc-m !important; }
.u-pb--l { padding-bottom: $spc-l !important; }
.u-pb--xl { padding-bottom: $spc-xl !important; }
.u-pb--xxl { padding-bottom: $spc-xxl !important; }
.u-pb--xxxl { padding-bottom: $spc-xxxl !important; }

.underline {
  background-color: hexa($pyrite, 0.2);
  padding: * $spc-xs;
  border-radius: 1px;
}

%container-center {
  position: relative;
}

%container-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visible {
  border: none;
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the
   keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* DEBUGGING ----------------------------------------------------------------------------------- */
%debug {
  background-color: hexa(map(colors, tokens, base, azurite), 0.9) !important;
  border: 1px dashed pink !important;
}

.debug {
  @extend %debug;
}
